.ems_container{
    margin-top: 20px;
    background-color: white;
    color: #000;
    border: 2px solid darkslategray;
    border-radius: 18px;
    width: 200px;
    height: 130px;
    padding-left: 12px;
    padding-top: 12px;
    margin-left: 10px;
}

.ems_title{
    font-size: 16px;
}

.button{
    margin-top: 20px;
    margin-left: 110px;
    font-size: 14px;
    border: 3px solid #000;
    border-radius: 18px;
    background: #000;
    color:  white;
    font-weight: 700;
}

.button:hover{
    box-shadow: 0 0 10px #25ffff;
    background: #25ffff;
    border: 3px solid #25ffff;
    color: #000;
}